.App {
    text-align: center;
    padding: 0px;
    margin: 0px;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-1 {
    background-color: #282c34;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


